@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
/* <Configurações padrao da pagina> */
* {
    font-family: 'News Cycle', sans-serif;
}
li{
    list-style: none;
}
body {
    margin: 0;
    background: rgb(8, 40, 59);
    background: linear-gradient(90deg, rgba(8, 40, 59, 1) 50%, rgba(59, 87, 138, 1) 100%);
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
/* </Configurações padrao da pagina> */


/* <Retangulo> */

.retangulo {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 41vw;
    border-radius: 20px;
    padding: 15px;
    justify-content: space-between;
    margin-top: 3%;
}

.retangulo span {
    color: rgba(62, 130, 255, 1);
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}
/* </Retangulo> */

.container .retangulo #conteudo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.container .retangulo .grafico{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 20px;
}

.container .retangulo .grafico #chave{
    background-color: #f4f2f3;
    border-radius: 20px;    
}

.container .retangulo .botoes{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
width: 100%;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    border-radius: 20px;
    width: 200px;
    background: #3B578A;
    font-family: 'News Cycle';
    border: 0;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;

}

.botao:hover { 
    cursor: pointer;
    border:solid 5px  #476cb0;
    background-color: #2c3e60;
}

#tituloCorredor{
    margin-top: 0;
    margin-left: 30px;
    color: rgba(62, 130, 255, 1);
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    
}




 #graficosApagados{
    display: none;
    
}