@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

* {
    font-family: 'News Cycle', sans-serif;
}

body {
    margin: 0;
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
}

/*CABEÇALHO*/

#title {
    margin: 0;
    color: #32b0cd;
}

header {
    width: 100%;
    height: 70px;
    background-color: #f4f2f3;
    display: flex;
}

#buttonsHeader {
    width: 40%;
    list-style: none;
    display: flex;

}


header .container {
    justify-content: space-between;
    align-items: center;
}

header #buttonsHeader {
    display: flex;
    justify-content: space-around;
}

a,
#buttonsHeader {
    text-decoration: none;
    font-weight: bold;
    color: #08283B;
    font-size: 18px;
    margin-left: 10px;

}


/*FIM CABEÇALHO*/

/*HOME*/

#home {
    display: flex;
    background-color: #08283B;
    background-image: url(../assets/backHome.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#home .container {
    display: flex;
    flex-direction: column;
    height: 570px;
    align-items: end;
    justify-content: center;


}

#home .container p {
    display: flex;
    justify-content: end;
    font-size: 35px;
    text-align: justify;
    color: #F4F2F3;
}

#home .container h1 {
    color: #3E82FF;
    font-size: 40px;
    text-align: left;
    font-weight: lighter;
}

#textHome {
    width: 70%;
}

/*FIM HOME*/

/*O PROJETO*/

#oProjeto {
    height: 630px;
    background-color: #f4f2f3;
    display: flex;

}

#oProjeto .container {
    display: flex;
    align-items: center;
    justify-content: end;


}

#oProjeto .container #card1txt {
    background-color: #08283B;
    display: flex;
    flex-direction: column;
    width: 40%;
    color: #f4f2f3;
    border-radius: 20px;
    padding: 30px;
    text-align: justify;
    position: absolute;
    height: 450px;
    left: 10%;
    font-size: 17px;

}

#oProjeto .container #card2img {
    height: 580px;
    width: 75%;

    background-image: url(../assets/img_oProjeto.png);
    border-radius: 20px;
    background-repeat: no-repeat;
    align-items: center;


}

#oProjeto .container #card1txt h1 {
    color: #3E82FF;
    margin: 0;
}

/* Comeca a calculadora */
#calculadora {
    margin-top: 70px;
}

#calculadora .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#calculadora .container #caixa {
    display: flex;
    flex-direction: column;
    background-color: #08283B;
    width: 630px;
    height: 370px;
    padding: 30px;
    border-radius: 20px;

}

#calculadora .container span {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #F4F2F3;
}

#calculadora .container h1 {
    color: #08283B;
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 12px;
}

#calculadora .container h2 {
    color: #08283B;
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
    margin-bottom: 30px;

}

#calculadora .container #caixa span {
    color: #F4F2F3;
    margin-left: 10px;
    font-size: 25px;
    margin-right: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;

}

#calculadora .container .iptnum {
    width: 75px;
    height: 40px;
    border-radius: 20px;
    background-color: #F4F2F3;
    text-align: center;
}

.iptlu {
    width: 315px;
    height: 50px;
    border-radius: 20px;
    background-color: #F4F2F3;

}


#calculadora .container #caixa #btn_calcular {
    margin-top: 10px;
    border-radius: 50px;
    background-color: #3E82FF;
    color: #F4F2F3;
    font-size: 30px;
    font-weight: bold;
    align-self: center;
    border: none;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}

#calculadora .container .resul {


    width: 650px;
    height: 400px;
    background-color: #F4F2F3;

    border-radius: 20px;
    border: none;

    align-self: center;

}



#calculadora .container #caixa .resul span {
    display: flex;
    margin: 0;
    color: rgb(65, 109, 0);
    font-size: 25px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    align-items: center;
    margin-left: 10px;
}

/* Debug login */
.debugbox .container #card1{
   width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: space-around;
}
.debugbox .container #card1 button{
    width: 300px;
    height: 100px;
    background: #3B578A;
    border-radius: 20px;
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
   
}
.debugbox{
    background-image: url(../assets/backHome.png);
   background-size: cover;
   background-repeat: repeat;
}
.preenchimento{
    display: flex;
   
    height: 30vh;
    width: 100%;
    background-color: #08283B;

}