@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

* {
    font-family: 'News Cycle', sans-serif;
}

body {
    margin: 0;
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
}

/*CABEÇALHO*/

#title {
    margin: 0;
    color: #32b0cd;
}

header {
    width: 100%;
    height: 70px;
    background-color: #f4f2f3;
    display: flex;
}

#buttonsHeader {
    width: 40%;
    list-style: none;
    display: flex;

}


header .container {
    justify-content: space-between;
    align-items: center;
}

header #buttonsHeader {
    display: flex;
    justify-content: space-around;
}

a,
#buttonsHeader {
    text-decoration: none;
    font-weight: bold;
    color: #08283B;
    font-size: 18px;
    margin-left: 10px;

}

/*FIM CABEÇALHO*/

/* COMEÇO MAIN */

.main {
    height: 910px;
    background: rgb(8, 40, 59);
    background: linear-gradient(90deg, rgba(8, 40, 59, 1) 50%, rgba(59, 87, 138, 1) 100%);
}

.main .container {
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* COMEÇO RETÂNGULO */

.retangulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 70%;
    border-radius: 20px;
}

.retangulo .titulo {
    margin-top: 50px;
}

.retangulo span {
    color: rgba(62, 130, 255, 1);
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

#nomeAdmin {
    color: #FFFFFF;
}

.retangulo .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin-bottom: 30px;
}

.retangulo .content p {
    margin: 0;
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}

.btnDashboard {
    width: 300px;
    height: 100px;
    background: #3B578A;
    border-radius: 20px;
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    border: 0;
}

/* FIM RETÂNGULO */

/* FIM MAIN */