@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
/* <Configurações padrao da pagina> */
* {
    font-family: 'News Cycle', sans-serif;
}

body {
    margin: 0;
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
}
/* </Configurações padrao da pagina> */

/* COMEÇO MAIN */

.main {
    height: 910px;
    background: rgb(8, 40, 59);
    background: linear-gradient(90deg, rgba(8, 40, 59, 1) 50%, rgba(59, 87, 138, 1) 100%);
}

.main .container {
    justify-content: center;
}

/* <Retangulo> */

.retangulo {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    margin-top: 5%;
     
}

.retangulo span {
    color: rgba(62, 130, 255, 1);
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}
/* </Retangulo> */
/* <Titulo e data> */
.titulo {
  display: flex;
margin-left: 30px;
justify-content: space-between;
}
.titulo #boxdata{
background-color: #f4f2f3;
width: 51.5%;
border-radius: 20px;
margin-bottom: 10px;
text-align: center;
color: rgb(100, 100, 100);
}
/* </Titulo e data> */


/* <KPIS e grafico > */
.dados{
    display: flex;
    justify-content: space-between;
padding: 10px;
        
}
#chave{
    background-color: #f4f2f3;
    border-radius: 20px;
   
}
.graficos{
    width: 50%;
}
.kpis{
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
width: 50%;
height: 30vw;
flex-wrap: wrap;
padding: 10px;
justify-content: center;
align-items: center;
margin-right: 10px;
 

}

.kpi{
width: 12vw;
height: 12vw;
 padding: 10px;
 margin-bottom: 50px;
 background-color: #f4f2f3;
 border-radius: 20px;
 margin: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;

 /* </KPIS e grafico > */


 /* <Configurações de KPI> */

}.kpi h1,h2,h3,h4{
    margin: 0px;
}
 .dados .kpis .containerkpi{
    display: flex;
  
 }
 /* <Cores da kpi fluxo minimio> */
 #kpi1 h2{
    color: red;
 }
 #kpi1 h4{
    color: #71797E;
 }
 /* </Cores da kpi fluxo minimio> */


/* <Cores da kpi fluxo maximo> */
 #kpi2 h2{
    color: green;
 }
 #kpi2 h4{
    color: #71797E;

 }
   /* </Cores da kpi fluxo maximo> */


   /* </Cores da kpi media> */
  
   #kpi3 h2{
  
 
    color: #08283B;

 }
 #kpi3 h4{
    color: #71797E;

 }
 #kpi4 h2{
  
 
    color: #08283B;

 }
 #kpi4 h4{
    color: #71797E;

 }

 #graficosApagados{
    display: none;
    
}