@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

html {
    font-family: 'News Cycle', sans-serif;
}

body {


    background-color: #F4F2F3;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0080;
    height: 90px;
    width: 100%;
    background-color: #F4F2F3;
    flex-direction: row;

}

nav {
    display: flex;
    margin-right: 30px;
    align-items: center;

}

.navitem {
    color: #08283B;
    text-decoration: none;
 margin-right: 40px;
    font-size: 22px;
    font-weight: bold;
    transition: all 0.3s ;
}

  .navitem:hover {
    border: solid 2px;
 border-bottom: 1px black;
  }
.itens {
    margin-right: 80px;
}

#login {
    display: flex;
    align-items: center;

}

#loginbtn {
    margin-left: 15px;
    margin-bottom: 5px;
}
#logo{
    width: 190px;
    height: 47px;
}
#logo1 {
    width: 50px;
    height: 50px;
}

.container {
    margin-left: 80px;
    background-color: #08283B;
    width: 807px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.container text {

    color: #F4F2F3;
    margin-left: 30px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 10px;
}

.titlep {

    margin-left: 100px;
    font-weight: bold;
    font-size: 50px;
    color: #08283B;
}

.iptnum {

    width: 75px;
    height: 40px;
    border-radius: 20px;
    background-color: #F4F2F3;
    text-align: center;
}

.iptlu {
    width: 315px;
    height: 50px;
    border-radius: 20px;
    background-color: #F4F2F3;

}

#btn_calcular {
    width: 282px;
    height: 64px;
    border-radius: 50px;
    background-color: #3E82FF;
    color: #F4F2F3;
    font-size: 30px;
    font-weight: bold;
    align-self: center;
    justify-content: center;
    border: none;
 
    font-family: 'News Cycle', sans-serif;



}

.subtitlep {
    font-size: 30px;
    font-weight: bold;
    margin-left: 100px;
}

.resul {
    width: 752px;
    height: 190px;
    background-color: #F4F2F3;
    margin-left: 28px;
    display: flex;
    border-radius: 20px;
    border: none;
    text-align: center;

}

input {
    font-size: 30px;

}

#p_retorno {
    color: rgb(65, 109, 0);
    font-size: 25px;
    font-weight: bold;
}